.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

.scroll-bar {
    -fx-background-color: #EFEFEF;
}

.scroll-bar .thumb {
    -fx-background-color: #B6B6B6;
}
.button {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #34495e;
}

.button:pressed {
    -fx-background-color: #2c3e50;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 2, 0, 0, 1);
}

/* Specific Button Styles */
.button1, .button2, .button3, .button4 {
    -fx-background-color: #3D5A80;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover {
    -fx-background-color: #507DBC;
}

.button1:pressed, .button2:pressed, .button3:pressed, .button4:pressed {
    -fx-background-color: #293B5F;
    -fx-background-radius: 20;
}

.button4 {
    -fx-background-color: linear-gradient(to top left, #4091C9, #AED6F1);
}
.button4:hover {
    -fx-background-color: linear-gradient(to top left, #AED6F1, #4091C9);
}
.button4:pressed {
    -fx-background-color: linear-gradient(to top left, #4091C9, #AED6F1);
}


.combo-box {
    -fx-background-color: #1E2A44;
    -fx-border-color: #507DBC;
    -fx-border-radius: 30;
}
.combo-box:hover {
    -fx-background-color: #1E2A44;
    -fx-border-color: #AED6F1;
    -fx-border-radius: 30;
}
.combo-box:pressed {
    -fx-background-color: #1E2A44;
    -fx-border-color: #AED6F1;
    -fx-border-radius: 30;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #2B6CB0;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color: #547EA7;
}
.table-row-cell:selected .text {
    -fx-fill: white;
}

/* Scroll bar styles */
.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#2B6CB0, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#2B6CB0, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/* Chart properties */
.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #4091C9, #AED6F1);
}
.button-icon {
    -fx-fill: white;
    -fx-font-size: 16px;
}
.home-container {
    -fx-padding: 50px;
    -fx-background-color: #fff;
}

.welcome-label {
    -fx-font-size: 36px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.slogan-label {
    -fx-font-size: 24px;
    -fx-text-fill: #666;
}

.get-started-button, .learn-more-button {
    -fx-background-color: #2B6CB0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5;
}

.learn-more-button {
    -fx-background-color: transparent;
    -fx-border-color: #2B6CB0;
    -fx-border-width: 2;
}

.get-started-button:hover, .learn-more-button:hover {
    -fx-opacity: 0.8;
}
.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}